
a {
	color : white;
	text-decoration : none;
	width : 94% ;
   }
h1{
	color : white;
	width : 94% ;
}
h2{
	color : white;
	width : 94% ;
}
h3{
	color : white;
	width : 94% ;
}
h4{
	color : white;
	width : 94% ;
}
h5{
	color : white;
	width : 94% ;
}
p{
	color : white;
	width : 94% ;
}
ul{
	color : white;
	width : 94% ;
}
.center-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%
}